server {
    listen 80;
    listen [::]:80;
    server_name justfound.ru www.justfound.ru;
    server_tokens off;
    location /.well-known/acme-challenge/ {
        root /var/www/certbot;
    }
    location / {
        return 301 https://example.org$request_uri;
    }
}

server {
    listen 443 default_server ssl http2;
    listen [::]:443 ssl http2;
    server_name justfound.ru;
    ssl_certificate /etc/nginx/ssl/live/example.org/fullchain.pem;
    ssl_certificate_key /etc/nginx/ssl/live/example.org/privkey.pem;


    location /static/ {
        root /var/html/;
    }

    location /media/ {
        root /var/html/;
    }


    location / {
        proxy_pass http://web:8000;
    }

    server_tokens off;
}