server {
    listen 80;
    listen [::]:80;
    server_name justfound.ru www.justfound.ru;
    server_tokens off;
    location /.well-known/acme-challenge/ {
        root /var/www/certbot;
    }
    location / {
        return 301 https://example.org$request_uri;
    }
}

server {
    listen 443 ssl default_server reuseport;
    listen [::]:443 ssl default_server reuseport;

    server_name justfound.ru;

    ssl_certificate         /etc/letsencrypt/live/test-name/fullchain.pem;
    ssl_certificate_key     /etc/letsencrypt/live/test-name/privkey.pem;
    ssl_trusted_certificate /etc/letsencrypt/live/test-name/chain.pem;

    ssl_dhparam /etc/letsencrypt/dhparams/dhparam.pem;

    location /static/ {
        root /var/html/;
    }

    location /media/ {
        root /var/html/;
    }


    location / {
        proxy_pass http://web:8000;
    }

    server_tokens off;
}