<div class="page__info_bottom row pt-5 px-5 ">
    <div class="page_date col-auto me-auto text-secondary">353 августа 3113 года. 13:13 МСК</div>
    <nav class="page_nav col-auto offset-md-4">
        <div class="row text-center">
            <div class="page_nav__archive col-auto"><a href="">Архив</a></div>
            <div class="page__prev col-auto">
                <a href=""><i class="bi bi-arrow-left"></i> Назад</a>
            </div>
            <div class="page__next col-auto">
                <a href="">Вперед <i class="bi bi-arrow-right"></i></a>
            </div>
        </div>
    </nav>
</div>