{% extends "base.html" %}

{% block title %}
Манифест
{% endblock %}

{% block content %}
  <div class="page__title pb-5 pt-3 px-5 "><h1>Манифест</h1></div>
  <div class="page__content px-5 ">
    <p>Как красиво названа страничка "Обо мне", правда?</p>
    <p>Этот ресур, смотря не его название, служит хранилищем недавно полученных знаний и сведений. Не относящихся к политике.
    Уникальность ресурса -- тут отлично сочетаются IT, юмор, медицина, технические науки, история. В общем, солянка. Параллельно с публикацией на сайте, все посты
    попадают в телеграмм-канал <a href="https://t.me/justfound_ru">@justfound_ru</a>. Это было что-то типа вызова, сделать проект на джанге, в который можно авторизоваться
    (правда только мне, как администратору) через телегу с кросспостингом в телегу. Об этом расскажу в каком-нибудь посте.</p>
    <p>В общем, добро пожаловать. Если интересна связь со мной, то вы найдете контакты в группе, указанной выше.</p>
    <p>Не могу не сказать спасибо за вдохновение сайту <a href="https://снми.рф">снми.рф</a> за дизайн и структуру. Сам я начисто лишен чувства прекрасного.</p>
  </div>
{% endblock %}

{% block is_manifest %}
  <li class="nav-item"><a class="nav-link" href="{% url "web_board:index" %}">Главная</a></li>
{% endblock %}